.container {
  width: 100%;
  max-width: 114rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -1.5rem;
  margin-left: -1.5rem;
}

[class*='col-'] {
  position: relative;
  width: 100%;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.rounded {
  border-radius: 0.4rem;
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}

@media (min-width: 48em) {
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 62em) {
  .col-lg-4 {
    flex: 0 0 33.333%;
    max-width: 33.333%;
  }

  .col-lg-8 {
    flex: 0 0 66.667%;
    max-width: 66.667%;
  }
}
